/* Colors of project */
:root {
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --accent-color: #2196f3;
  --header-menu-color: #212121;
  --header-link-color: #757575;
  --header-border-color: #ececec;
  --footer-address-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-title-color: #ffffff;
  --button-accent-color: #ffffff;
  --button-accent-bg: #2196f3;
  --button-color: #212121;
  --button-bg: #f5f4fa;
  --h2-color: #212121;
  --h3-color: #212121;
  --p-color: #757575;
  --body-bg: #ffffff;
  --footer-bg: #2f303a;
  --hero-bg: #2f303a;
  --header-bg: #ffffff;
  --border-line-color: #eeeeee;
  --our-team-section-bg: #f5f4fa;

  --grid-set-gap: 30px;
  --container-width: 1200px;
  --body-width: 1600px;
}

/* body */
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--body-bg);
  color: var(--p-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  width: var(--body-width);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
li {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common styles for header and footer*/

.container {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: var(--container-width);
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--header-bg);
  border: 1px solid var(--header-border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Logo */
.header-logo {
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-header-color);
  text-decoration: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

/* Menu */

.header-menu {
  display: flex;
  margin-left: 93px;
}

.header-item {
  display: block;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu-item-decor {
  text-decoration: none;
  font-weight: 500;
  color: var(--header-menu-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu-item-decor:hover,
.header-menu-item-decor:focus {
  color: var(--accent-color);
}
/* Links */

.header-links {
  display: flex;
  margin-left: auto;
}

.header-link-item-decor {
  text-decoration: none;
  font-weight: 500;
  color: var(--header-link-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link-item-decor:hover,
.header-link-item-decor:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  display: block;
  /* flex-direction: inherit; */
  /* align-items: inherit; */
  /* justify-content: inherit; */
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-footer-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address-lists {
  display: block;
  font-style: normal;
  margin: 0;
}

.footer-postaddress {
  line-height: 1.71;
  color: var(--footer-address-color);
  margin-bottom: 9px;
}

.footer-mailto {
  display: block;
  text-decoration: none;
  color: var(--footer-contacts-color);
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer-tel {
  text-decoration: none;
  color: var(--footer-contacts-color);
  line-height: 1.71;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
/* styles for index.html/main */

/* Hero */
.hero {
  background-color: var(--hero-bg);
  color: var(--hero-title-color);
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
  border-color: var(--button-accent-bg);
  font-family: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin: auto;
  border-width: 2px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent-color);
  color: var(--button-accent-bg);
  border-color: var(--button-accent-bg);
}

/* Peculiarities */

.perculiarities {
  width: 1140px;
  margin: auto;
}

.peculiarities-title-hide,
.portfolio-title {
  display: none;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h3-color);
}

.peculiarities-p {
  width: 270px;
  line-height: 1.71;
}
/* destinations */
.destinations {
  width: 1240px;
  margin: auto;
}

.destinations-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h2-color);
}

/* Our team */
.team {
  background-color: var(--our-team-section-bg);
  padding: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h2-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--h3-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
}
/* styles for portfolio.html/main */

.filter-button {
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
}

.accent-button {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
}

.example-link {
  text-decoration: none;
  color: inherit;
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-color);
}

.example-text {
  font-size: 16px;
  line-height: 1.88;
}
/* Color accent */
.accent {
  color: var(--accent-color);
}
