/* Colors of project */
:root {
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --accent-color: #2196f3;
  --header-menu-color: #212121;
  --header-link-color: #757575;
  --header-border-color: #ececec;
  --footer-address-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-title-color: #ffffff;
  --button-accent-color: #ffffff;
  --button-accent-bg: #2196f3;
  --button-color: #212121;
  --button-bg: #f5f4fa;
  --h2-color: #212121;
  --h3-color: #212121;
  --p-color: #757575;
  --body-bg: #ffffff;
  --footer-bg: #2f303a;
  --hero-bg: #2f303a;
  --header-bg: #ffffff;
  --border-line-color: #eeeeee;
  --our-team-section-bg: #f5f4fa;
  --card-bg: #ffffff;

  --grid-set-gap: 30px;
  --container-width: 1200px;
  --default-pdleft: 15px;
  --default-pdright: 15px;
  --body-width: 1600px;
}

/* body */
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--body-bg);
  color: var(--p-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  width: var(--body-width);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common styles for header and footer*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: var(--container-width);
  padding-left: var(--default-pdleft);
  padding-right: var(--default-pdright);

  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  width: 100%;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  align-items: center;
}

/* Logo */
.header-logo {
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-header-color);
  text-decoration: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

/* Menu */

.header-menu {
  display: flex;
  margin-left: 93px;
}

.header-item {
  display: block;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu-item-decor {
  text-decoration: none;
  font-weight: 500;
  color: var(--header-menu-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu-item-decor:hover,
.header-menu-item-decor:focus {
  color: var(--accent-color);
}
/* Links */

.header-links {
  display: flex;
  margin-left: auto;
}

.header-link-item-decor {
  text-decoration: none;
  font-weight: 500;
  color: var(--header-link-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link-item-decor:hover,
.header-link-item-decor:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-footer-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address-lists {
  display: block;
  font-style: normal;
  margin: 0;
}

.footer-postaddress {
  line-height: 1.71;
  color: var(--footer-address-color);
  margin-bottom: 9px;
}

.footer-mailto {
  display: block;
  text-decoration: none;
  color: var(--footer-contacts-color);
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer-tel {
  text-decoration: none;
  color: var(--footer-contacts-color);
  line-height: 1.71;
}

.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/* styles for index.html/main */

/* Hero */
.hero {
  background-color: var(--hero-bg);
  color: var(--hero-title-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
  border-color: var(--button-accent-bg);
  font-family: inherit;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent-color);
  color: var(--button-accent-bg);
  border-color: var(--button-accent-bg);
}

/* Peculiarities */

.perculiarities {
  padding-top: 94px;
  width: 1200px;
  margin: 0 auto;
}

.perculiarities-list {
  display: flex;
  margin-left: calc(-1 * var(--grid-set-gap));
  margin-top: calc(-1 * var(--grid-set-gap));
  margin-right: 0px;
}

.perculiarities-item {
  width: calc(100% / 4 - calc(3 * var(--grid-set-gap) / 4));
  margin-left: var(--grid-set-gap);
  margin-top: var(--grid-set-gap);
}

.peculiarities-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h3-color);
  margin-bottom: 10px;
}

.peculiarities-p {
  line-height: 1.71;
}
/* destinations */
.destinations {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.destinations-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h2-color);
  margin-bottom: 50px;
}

.destinations-list {
  display: flex;
  margin-left: calc(-1 * var(--grid-set-gap));
  margin-top: calc(-1 * var(--grid-set-gap));
  margin-right: 0px;
  margin-bottom: 0px;
}

.destinations-item {
  flex-basis: calc(100% / 3 - calc(2 * var(--grid-set-gap) / 3));
  margin-left: var(--grid-set-gap);
  margin-top: var(--grid-set-gap);
}
/* Our team */
.team {
  background-color: var(--our-team-section-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-cards {
  display: flex;
  margin-left: calc(-1 * var(--grid-set-gap));
  margin-top: calc(-1 * var(--grid-set-gap));
  margin-right: 0px;
  text-align: center;
}

.team-card {
  width: calc(100% / 4 - calc(3 * var(--grid-set-gap) / 4));
  margin-left: var(--grid-set-gap);
  margin-top: var(--grid-set-gap);
}

.card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h2-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--h3-color);
  padding-top: 30px;
  background-color: var(--card-bg);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--card-bg);
}
/* styles for portfolio.html/main */

.filter-button {
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
}

.accent-button {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-color);
}

.example-link {
  text-decoration: none;
  color: inherit;
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-color);
}

.example-text {
  font-size: 16px;
  line-height: 1.88;
}
/* Color accent */
.accent {
  color: var(--accent-color);
}
